name: CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
    tags: ['v**']

permissions:
  contents: read

jobs:
  test_and_lint:
    name: Test and lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4.2.0
        with:
          node-version: 22.x
          cache: "npm"
      - run: npm ci
      - run: npm run lint
      - run: npm run test

      # Upload test results, coverage report and original event as artifacts
      # So we can publish the results in a separate workflow

      # DO NOT MERGE THESE TWO STEPS INTO ONE
      # Upload are done in two different steps otherwise they will share the common base path
      # and the artifacts structure will be odd. Since on the first step we uploads just a file
      # it will be kept in the _root_ of the artifact, while the second step will upload directory structures
      - name: Upload Event
        if: always()
        uses: actions/upload-artifact@v4
        with:
            name: testfiles
            retention-days: 1
            path: ${{ github.event_path }}

      - name: Upload Test Results and Coverage
        if: always()
        uses: actions/upload-artifact@v4
        with:
            name: test-results-and-coverage
            retention-days: 1
            path: |
              test-results/**
              coverage/**

  package:
    name: Package binaries
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v4.2.0
        with:
          node-version: 22.x
      - name: Install dependencies
        run: npm ci
      - name: Generate binaries for macOS, Linux and Windows
        run: npm run package
      - name: Rename macOS binary to conform to GitHub CLI extension rules
        run: mv bin/migration-audit-macos bin/gh-migration-audit-darwin-amd64
      - name: Rename Windows binary to conform to GitHub CLI extension rules
        run: mv bin/migration-audit-win.exe bin/gh-migration-audit-windows-amd64.exe
      - name: Rename Linux binary to conform to GitHub CLI extension rules
        run: mv bin/migration-audit-linux bin/gh-migration-audit-linux-amd64
      - name: Upload macOS binary as artifact
        uses: actions/upload-artifact@v4
        with:
          name: package-macos
          path: bin/gh-migration-audit-darwin-amd64
      - name: Upload Linux binary as artifact
        uses: actions/upload-artifact@v4
        with:
          name: package-linux
          path: bin/gh-migration-audit-linux-amd64
      - name: Upload Windows binary as artifact
        uses: actions/upload-artifact@v4
        with:
          name: package-windows
          path: bin/gh-migration-audit-windows-amd64.exe
  create_release:
    name: Create release
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    needs: ['package','test_and_lint']

    permissions:
      contents: write

    steps:
      - name: Download Windows binary
        uses: actions/download-artifact@v4
        with:
          name: package-windows
          path: bin
      - name: Download macOS binary
        uses: actions/download-artifact@v4
        with:
          name: package-macos
          path: bin
      - name: Download Linux binary
        uses: actions/download-artifact@v4
        with:
          name: package-linux
          path: bin
      - name: Create GitHub release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            bin/gh-migration-audit-darwin-amd64
            bin/gh-migration-audit-linux-amd64
            bin/gh-migration-audit-windows-amd64.exe
          generate_release_notes: true

