name: CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
    tags: ['v**']

permissions:
  contents: read

jobs:
  test_and_lint:
    name: Test and lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4.0.0
        with:
          node-version: 18.x
          cache: "npm"
      - run: npm ci
      - run: npm run lint
      - run: npm run test

      # Upload test results, coverage report and original event as artifacts
      # So we can publish the results in a separate workflow
      - name: write ref
        run: echo -n '${{ github.ref }}' >> REF        

      # DO NOT MERGE THESE TWO STEPS INTO ONE
      # Upload are done in two different steps otherwise they will share the common base path
      # and the artifacts structure will be odd. Since on the first step we uploads just a file
      # it will be kept in the _root_ of the artifact, while the second step will upload directory structures
      - name: Upload
        if: always()
        uses: actions/upload-artifact@v3
        with:
            name: testfiles
            retention-days: 1
            path: REF

      - name: Upload
        if: always()
        uses: actions/upload-artifact@v3
        with:
            name: testfiles
            retention-days: 1
            path: |
              ${{ github.event_path }}
              REF

      - name: Upload
        if: always()
        uses: actions/upload-artifact@v3
        with:
            name: testfiles
            retention-days: 1
            path: |
              test-results/**
              coverage/**

